[submodule "third_part/grpc"]
	path = third_part/grpc
	url = https://github.com/grpc/grpc.git
	branch = master
[submodule "third_part/nllb-serve"]
	path = third_part/nllb-serve
	url = git@github.com:thammegowda/nllb-serve.git
	branch = main
[submodule "third_part/EasyTrans"]
	path = third_part/EasyTrans
	url = git@github.com:mingo-wu1/EasyTrans.git
	branch = master
[submodule "third_part/websocketpp"]
	path = third_part/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
	branch = master
[submodule "third_part/vue-translate"]
	path = third_part/vue-translate
	url = git@github.com:mingo-wu1/vue-translate.git
	branch = master
[submodule "third_part/pdf2docx"]
	path = third_part/pdf2docx
	url = git@github.com:dothinking/pdf2docx.git
	branch = master
