[submodule "third_part/grpc"]
	path = third_part/grpc
	url = https://github.com/grpc/grpc.git
	branch = master
[submodule "third_part/nllb-serve"]
	path = third_part/nllb-serve
	url = git@github.com:thammegowda/nllb-serve.git
	branch = main
[submodule "third_part/EasyTrans"]
	path = third_part/EasyTrans
	url = git@github.com:mingo-wu1/EasyTrans.git
	branch = master
